* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

.root  {
  height: 100%;
}

.main {
	background-color: green;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 2350px;
}

.block1 {
  flex-basis: 670px;
  background-color: white;
 // display: flex;
 // justify-content: flex-start;
 // align-content: flex-start;
 // flex-direction: column;
  color: red;

  h1,h2,h3,h4,h5 {
    text-align: center;
  //  flex-basis: 770px;
    max-width: 770px;
    margin: 0 auto;
  }

}

.block2 {
  flex-basis: 755px;
  background-color: yellow;
}

.block3 {
  flex-basis: 890px;
  background-color: white;
}

.listWrapper {
  position: relative;
  background-color: red;
}

.listContainer {
  position: absolute;
  background-color: blue;
  right: 0;
  width: 80%;
  top: -50px;
}

.listItem {
  margin: 0 50px;
  background-color: green;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemImgBlock {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
  }
}

.itemInfBlock {
  flex-grow: 6;
  background-color: orange;
}

.itemQuantityBlock {
  flex-basis: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  text-align: center;
}

.price {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  h5 {
    margin: 0;
    padding: 0;
  }
}

.itemQuantityButton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.itemSumTrashBlock {
  flex-basis: 115px;
}

.itemSumTrashBlockWrapper {
  position: relative;
  line-height: 260px;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;
}

.sum {
  white-space: nowrap;
  overflow: hidden;
}