html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.root  {
  height: 100%;
}

.main {
	background-color: green;
	height: 100%;

	.yellow-gradient{
		background-color: yellow;
		height: 33%;
	}
}
