* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}


main {
  flex-basis: 880px;
  background-color: #fedd23;
}

.listWrapper {
  position: relative;
  background-color: red;
}

.listContainer {
  background-color: white;
  position: absolute;
  right: 0;
  width: 90%;
  top: -147px;
  box-shadow: 0 25px 54px 0 rgba(0, 0, 0, 0.11);
}

.listItem {
  margin: 0 50px;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1.3px solid #ececec;
}

.itemImgBlock {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.08);
  }
}

.itemInfBlock {
  flex-grow: 6;
  padding-right: 5px;
  padding-left: 5px;

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.6;
    margin-top: 44px;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.56;
    color: #7d7d7d;
    margin-top: 8px;
    height: 70px;
    overflow: auto;
  }

  .itemInfBlock-select {
    width: 242px;
    height: 51px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    font-size: 0.875rem;
    color: #7d7d7d;
  }
}

.itemQuantityBlock {
  flex-basis: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  text-align: center;
}

.price {
  width: 39px;
  height: 39px;
  line-height: 37px;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
    font-size: 1rem;
  }
}

.itemQuantityButton {
  width: 39px;
  height: 39px;
  border-radius: 2px;
  border: solid 1px #dcdcdc!important;
  background-color: transparent;
  line-height: 37px;
  text-align: center;
  color: #7d7d7d;
  padding: 0!important;
}

.itemSumTrashBlock {
  flex-basis: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.itemSumTrashBlockWrapper {
  position: relative;
  width: 100%;
  height: 100%;

    .trash {
      font-size: 18px;
      position: absolute;
      right: 0;
      top: 50px;

      .fa-trash {
        color: #7d7d7d!important;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .sum {
      overflow: hidden;
      font-family: "Avalon Bold";
      font-size: 1.1rem;
      text-align: right;
      color: black;
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -9px;
    }

}

.total-sum {
  margin: 50px 50px;
  h1 {
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 2.1875rem;
  }
}
